{
    "$schema": "https://developer.microsoft.com/en-us/json-schemas/teams/v1.15/MicrosoftTeams.schema.json",
    "version": "1.0.0",
    "manifestVersion": "1.15",
    "id": "${{TEAMS_APP_ID}}",
    "packageName": "com.package.name",
    "name": {
        "short": "sso-bot",
        "full": "SSO Bot"
    },
    "developer": {
        "name": "Implodingduck Labs",
        "mpnId": "",
        "websiteUrl": "https://github.com/implodingduck/copilot-plugin",
        "privacyUrl": "https://github.com/implodingduck/copilot-plugin",
        "termsOfUseUrl": "https://github.com/implodingduck/copilot-plugin"
    },
    "description": {
        "short": "Sample bot that uses SSO",
        "full": "Sample bot that uses SSO"
    },
    "icons": {
        "outline": "outline.png",
        "color": "color.png"
    },
    "accentColor": "#FFFFFF",
    "staticTabs": [
        {
            "entityId": "conversations",
            "scopes": ["personal"]
        },
        {
            "entityId": "about",
            "scopes": ["personal"]
        }
    ],
    "bots": [
        {
            "botId": "${{BOT_ID}}",
            "scopes": ["personal", "team", "groupChat"],
            "isNotificationOnly": false,
            "supportsCalling": false,
            "supportsVideo": false,
            "supportsFiles": false
        }
    ],
    "permissions": [
        "identity",
        "messageTeamMembers"
    ],
    "validDomains": [
        "${{BOT_DOMAIN}}",
        "*.botframework.com"
    ],
    "webApplicationInfo": {
        "id": "${{BOT_ID}}",
        "resource": "api://botid-${{BOT_ID}}"
    }
}
